<header class="roboto ">
  <!-- Markup here will render on any page with the header.html include -->
  <nav class="dt w-100 border-box pa3 ph5-ns">
    <div class="dtc w-25 v-mid ">
      <div class="v-mid pr3">
        <a class="tc link dim " href="#" title="Home">
          <img src="assets/tc-logo.png" class="fl dib v-mid two-chimes" alt="Site Name">
        </a>
      </div>
      <div class="pv3 dtc v-mid pr3 fr">
        <a class=" pr4 pv2 link dim " href="#" title="Home">
          <img src="assets/info.png" class="v-mid circle-bttn" alt="Site Name">
        </a>
      </div>

    </div>

    <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Info">
        <li class="flex items-center lh-copy ">
          <p class="f3 db">Episode No.1</p>
          </li>
    </a>

<div class="dtc w-25 v-mid">
  <div class="pv3 dtc v-mid pr3">
    <a class=" link dim " href="#" title="Home">
      <img src="assets/pause.png" class="v-mid circle-bttn" alt="Site Name">
    </a>
  </div>
    <div class="pv3 dtc v-mid w-80">
      <div class="fl v-mid mid-gray link dim w-100 outline " href="#" title="Info">
          <p class="f7 db">Episode No.1</p>
    </div>
  </div>
</div>


    <div class="dtc v-mid w-75 tr ">
      <a class="link dim dark-gray f6 f5-ns dib " href="#" title="Contact">The Archive</a>
    </div>
  </nav>





</header>
