<header class="sans-serif ">
  <!-- Markup here will render on any page with the header.html include -->
  <nav class="dt w-100 border-box pa3 ph5-ns">
    <div class="dtc w-25 v-mid ">
      <a class="tc link dim " href="#" title="Home">
        <img src="assets/tc-logo.png" class="fl dib v-mid w3" alt="Site Name">
      </a>
      <a class="fr pr4 pv2 link dim " href="#" title="Home">
        <img src="assets/info.png" class="v-mid w2" alt="Site Name">
      </a>
    </div>

    <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Info">
        <li class="flex items-center lh-copy ">
          <p class="f3 db">Episode No.1</p>
          </li>
    </a>

<div class="dtc w-25 v-mid ">
  <a class="fl pr4 pv2 link dim " href="#" title="Home">
    <img src="assets/pause.png" class="v-mid w2" alt="Site Name">
  </a>
    <span class="dtc v-mid mid-gray link dim w-100 outline " href="#" title="Info">
          <p class="f5 db">Episode No.1</p>
    </span>
  </div>


    <div class="dtc v-mid w-75 tr ">
      <a class="link dim dark-gray f6 f5-ns dib " href="#" title="Contact">The Archive</a>
    </div>
  </nav>





</header>
